################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGLApp/FileContentIndex/15e6a5de-961e-4523-be13-85426b6393d9.vsidx
/.vs/OpenGLApp/FileContentIndex/6b75e43c-0229-409e-95b0-234baf23c1e3.vsidx
/.vs/OpenGLApp/FileContentIndex/35beaedd-b838-41e4-8aa8-40049d4f485f.vsidx
/.vs/OpenGLApp/FileContentIndex/0c3c3181-532e-4d1c-8d61-f693832939db.vsidx
/.vs/OpenGLApp/FileContentIndex/a912143d-9fc8-4b28-8633-353fca72eecb.vsidx
