################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGLApp/FileContentIndex/15e6a5de-961e-4523-be13-85426b6393d9.vsidx
/.vs/OpenGLApp/FileContentIndex/6b75e43c-0229-409e-95b0-234baf23c1e3.vsidx
